@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --large-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --primary-color: #da2535;
  --medium-weight: 500;
  --bold-weight: 600;
  --text-color: white;
  --body-color: white;
  --nav-text-color: black;
  --single-box-color: white;
  --single-box-boxshadow: 1px 2px 13px 1px #cdcdcd;
}

.dark_theme {
  background: #251d1e;
  --text-color: white;
  color: white;
  --body-color: #251d1e;
  --nav-text-color: white;
  --single-box-color: #302728;
  --single-box-boxshadow: none;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--normal-font-size);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.grid {
  display: grid;
}

.container {
  max-width: 968px;
  margin: 0 auto;
  padding: 0px 20px;
}

img {
  width: 100%;
}

.section {
  padding: 40px 0px;
}

.button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 12px 25px;
  display: inline-block;
  cursor: pointer;
}

.scroll_top {
  position: fixed;
  right: 3%;
  bottom: 5%;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 20px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* ============== HEADER ============== */
.header {
  width: 100%;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: var(--body-color);
  box-shadow: 0px 2px 4px 0px #c3c3c3;
}

.dark_theme .header {
  box-shadow: none;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu_show {
  display: none;
}

.close_menu {
  display: none;
}

.logo {
  font-weight: var(--medium-weight);
  color: var(--nav-text-color);
}

.dark_theme .logo {
  color: white;
}

.dark_light i {
  font-size: 21px;
  margin-left: 5px;
}

.nav_list li a {
  font-size: var(--small-size);
  font-weight: var(--medium-weight);
  color: var(--nav-text-color);
}

/* ========= header css for small devices */
@media screen and (max-width: 767px) {
  .menu_show {
    display: block;
    cursor: pointer;
  }
  .menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 30px 20px 15px 20px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    box-shadow: 0px 2px 4px 0px #c3c3c3;
  }

  .dark_theme .menu {
    box-shadow: none;
  }

  .show_menu {
    top: 0;
  }
  .nav_list li {
    text-align: center;
    padding: 5px;
  }
  .close_menu {
    display: block;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 25px;
    cursor: pointer;
  }

  .dark_light {
    position: absolute;
    right: 28%;
    top: 17%;
  }
}

/* ============== HOME ================ */
.home_container {
  row-gap: 0.5rem;
}

.home_img {
  width: 280px;
  justify-self: center;
}

.home_title {
  font-size: var(--large-size);
  font-weight: var(--bold-weight);
  margin-bottom: 1rem;
}

.home_description {
  margin-bottom: 1rem;
}

/* ================ SHARE ============== */
.share_data {
  text-align: center;
}

.share_img {
  width: 280px;
  justify-self: center;
}

.section_title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 1rem;
}

.share_description {
  margin-bottom: 1rem;
}

/* ============== DECORATION ================ */
.decoration_container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
  column-gap: 2rem;
}

.decoration_data {
  background-color: var(--single-box-color);
  text-align: center;
  box-shadow: var(--single-box-boxshadow);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 1rem 1rem 2rem;
}

.decoration_img {
  width: 180px;
}

.docoration_title {
  font-size: var(--h3-font-size);
  margin-bottom: 10px;
}

/* ==================== ACCESSORIES================ */
.accessories_container {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.accessories_data {
  background-color: var(--single-box-color);
  box-shadow: var(--single-box-boxshadow);
  padding: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  text-align: center;
  position: relative;
}

.accessory_title {
  font-size: var(--normal-font-size);
}

.accessory_img {
  width: 110px;
  justify-self: center;
}

.accessory_category {
  font-size: var(--small-font-size);
}

.accessory_price {
  display: block;
  text-align: initial;
}

.accessory_button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  border-radius: 1rem 0rem 1rem;
  -webkit-border-radius: 1rem 0rem 1rem;
  -moz-border-radius: 1rem 0rem 1rem;
  -ms-border-radius: 1rem 0rem 1rem;
  -o-border-radius: 1rem 0rem 1rem;
}

/* ============= SEND ============== */
.send_gift {
  background: var(--primary-color);
  color: var(--text-color);
}

.send_form {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  align-items: center;
}

.send_form > input {
  background: none;
  outline: none;
  border: none;
  width: 100%;
  padding: 10px;
}

.send_input {
  font-size: var(--normal-font-size);
}

.send_img {
  width: 280px;
  justify-self: center;
}

.send_description {
  text-align: center;
  margin-bottom: 1rem;
}

/* ======================= FOOTER ================ */
.footer_container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer.section {
  padding-bottom: 0px;
}

.footer_logo,
.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 10px;
}

.copy_write {
  text-align: center;
  padding: 20px 0px;
  font-size: var(--small-font-size);
}

.footer_content ul li {
  padding-bottom: 8px;
}

.footer_link,
.footer__social,
.footer_logo a {
  color: var(--nav-text-color);
}

.footer__social {
  margin-right: 10px;
  font-size: var(--h3-font-size);
}

/* ============ MEDIA QUERIES STYLES */

@media screen and (max-width: 359px) {
  .home_img,
  .share_img,
  .send_img {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .home_container,
  .share_container,
  .send_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .home_img {
    order: 1;
  }
  .share_img {
    order: -1;
  }
  .home_img,
  .share_img,
  .send_img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .nav_list {
    display: flex;
    align-items: center;
  }
  .nav_list li {
    padding: 0px 10px;
  }
  .accessories_container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .send_gift {
    background: none;
  }

  .send_container {
    background-color: var(--primary-color);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    padding: 1rem;
  }
}

@media screen and (min-width: 968px) {
  .home_img,
  .share_img,
  .send_img {
    width: 469px;
  }

  .home_container,
  .send_container,
  .share_container {
    column-gap: 5rem;
  }
}

@media screen and (max-width: 698px) {
  .footer_content {
    margin-bottom: 1.5rem;
  }
}
